/* CSS styling for calculator */
body {
    width: 100%;
    background-color: lightgray;
}

#container {
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calc-wrapper {
    width: 640px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    border: 3px black solid;
    border-radius: 15px;
}

#display-wrapper {
    border: 1px red solid;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#display {
    width: inherit;
    margin: 25px;
    height: 75px;
    background-color: white;;
    border: 2px black solid;
    border-radius: 5px;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}

#display .results {
    margin: 5px;
    color: darkred;
    font-size: 1.75em;
}

#display .input {
    margin: 10px;
    color:darkslateblue;
    font-size: 1.25em;
}

#buttons-wrapper {
    border: 1px red solid;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.row {
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.button {
    width: 75px;
    height: 75px;
    margin: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    text-transform: capitalize;
    border: 1px black solid;
    border-radius: 10px;
}

.large {
    width: 170px;
}